In [1]:
import pandas as pd
import numpy as np
import pandas_utils as pu

In [2]:
df  =  pd.DataFrame({'a':['s1','s1','s3'],'b':[4,5,6],'c':[4.2,5,6],'d':[np.nan,2,3],'e':[4,5,6]})

In [3]:
pu.structure(df)

  column_names  num_of_missing_values     type
0            a                      0   object
1            b                      0    int64
2            c                      0  float64
3            d                      1  float64
4            e                      0    int64

In [11]:
df.columns.values

array(['a', 'b', 'c', 'd', 'e', 'f'], dtype=object)

In [5]:
df.describe()

C:\Anacondas\test5\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

         b         c         d    e
count  3.0  3.000000  2.000000  3.0
mean   5.0  5.066667  2.500000  5.0
std    1.0  0.901850  0.707107  1.0
min    4.0  4.200000  2.000000  4.0
25%    4.5  4.600000       NaN  4.5
50%    5.0  5.000000       NaN  5.0
75%    5.5  5.500000       NaN  5.5
max    6.0  6.000000  3.000000  6.0