In [1]:
import pandas_utils as pu
import pandas as pd
import numpy as np

In [2]:
df     =  pd.DataFrame({'a':[1,1,1,2,2,3,3,3,3], 'b': [1,2,3,4,5,6,7,8,9]})
new_df =  pu.add_features(df, 'a', 'b')
new_df

   a  b  mean_a  count_a  rank_a
0  1  1     2.0        3       3
1  1  2     2.0        3       3
2  1  3     2.0        3       3
3  2  4     4.5        2       2
4  2  5     4.5        2       2
5  3  6     7.5        4       1
6  3  7     7.5        4       1
7  3  8     7.5        4       1
8  3  9     7.5        4       1

In [3]:
df     =  pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[4,5,6],'d':[1,2,3],'e':[4,5,6],'f':[7,8,9]})
pu.repeated_columns_detector(df)

[['a', 'd'], ['b', 'c', 'e']]

   a  b  c  d  e  f
0  1  4  4  1  4  7
1  2  5  5  2  5  8
2  3  6  6  3  6  9

In [5]:
df     =  pd.DataFrame({'a':[np.nan,2,np.nan],
                        'b':[4,5,6],
                        'c':[np.nan,5,6],
                        'd':[1,2,3],
                        'e':[4,np.nan,6],
                        'f':[7,8,9]})

In [6]:
df

     a  b    c  d    e  f
0  NaN  4  NaN  1  4.0  7
1  2.0  5  5.0  2  NaN  8
2  NaN  6  6.0  3  6.0  9

In [7]:
pu.missing_values_count(df)

  column_names  num_of_missing_values
0            a                      2
1            b                      0
2            c                      1
3            d                      0
4            e                      1
5            f                      0